

<div class="navbars">
  
  <div class="nav_contacts">

    <div class="wrap_phone">
      <div class="icon_nav_cont"> <i class="fa-solid fa-phone-volume"></i>
      </div>
      <div class="telephone">
      <p>+32/2/1234567</p>
      </div>
    </div>

    <div class="wrap_map">
      <div class="icon_nav_cont"> <i class="fa-solid fa-location-dot"></i>
      </div>
      
      <div class="wrap_address">
        <div class="address_street">
        <p class="address_spaces">Av. Louise</p></div>
        <div class="address_number">
        <p class="address_spaces"> 350, </p></div>
        <div class="address_zip">
        <p class="address_spaces"> 1000-</p></div>
        <div class="address_city">
        <p span style="margin-right:3rem">Brussels</p></div>
      </div>
    </div>

  </div>

{# --------------------- #}

  <div class="nav_nav">
    <div class="logo">
      <div id="logo"><a href={{ path('home') }}><img src={{ asset('assets/images/logo22.jpg') }} alt="logo"></div>  
      {# src={{ asset('images/logo2.jpg') }} #}
      <p>Bro!Land</p></a>
    </div>
    <div class="titles">
        <div id="titles"><a href={{ path('home') }}>Home</a></div>

        <div id="titles"><a href={{ path('home') }}>Salon</a></div>

        <div id="titles"><a href={{ path('home') }}>Accessoires</a></div>
        
        <div id="titles"><a href={{ path('home') }}>Repairs</a></div>
        
        <div id="titles"><a href={{ path('home') }}>Guests</a></div>

        <div id="titles"><a href={{ path('home') }}>Blog</a></div>
    </div>
  </div>
 
</div>